# Binary Credit Loan Decisions with Unfairness Mitigation

### Task Summary
- Injecting Bias for education purpose
- Historical Context of Credit (not Taiwan Specific)
    - Are there general ethical considerations
- Link reference to EY white paper (replicate workflow)
    - Simulate workflow using synthetic dataset
    - Be transparent about limitations of this approach

## Concrete Harms

#### Denial of Resources (Wealth)

### Negative Credit Feedback Loops

### Data Sheet

## Unmitigated Classifier

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import lightgbm as lgb
from sklearn.calibration import CalibratedClassifierCV

In [3]:
from fairlearn.metrics import MetricFrame
from fairlearn.metrics import (
    selection_rate,
    demographic_parity_difference,
    demographic_parity_ratio,
    equalized_odds_difference
)

In [4]:
from fairlearn.postprocessing import ThresholdOptimizer
from fairlearn.reductions import GridSearch

## Load and Process Dataset

In [5]:
from sklearn.datasets import fetch_openml
import pandas as pd

In [12]:
data = fetch_openml(
    data_id=42477,
    cache=True,
    as_frame=True,
    return_X_y=False
)

In [6]:
data_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls"
dataset = (pd.read_excel(io=data_url, header=1)
            .drop(columns=["ID"])
            .rename(columns={"PAY_0": "PAY_1",
                            "default payment next month": "default"})
            .replace({"SEX": {1: "male", 2:"female"}})
          )

In [11]:
dataset.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,female,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,female,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,female,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,female,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,male,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

##

### Add synthetic feature

In [ ]:
# If loan, Normal(1, 1) for male, Normal(1, 2) for female
# If no loan, Normal(0, 1) for male, Normal(0, 2) for female
data.loc[:, "Limit"] = np.random.normal(loc=Y, scale=A)

### Check if this will lead to disparity in naive model

# Training a Model

In [ ]:
lgb_params = {
    'objective': 'binary', 
    'metric': ,
    'learning_rate':,
    "num_leaves": 10,
    "max_depth":
}

In [ ]:
estimator = lgb.LGBMClassifier(
    **lgb_params
)

In [ ]:
estimator.fix(X_train, y_train)

In [ ]:
Y_pred = estimator.predict_proba(X_test)

### Feature Importance of the Unmitigated Classifier (Using SHAP)

# Mitigating Unfairness using Post-Processing Techniques

In [ ]:
postprocess_est = ThresholdOptimizer(
    estimator=,
    constraints="",
    objective="equalized_odds"
)

#### Add callout to unawareness issue

### Feature Importance of Post-Processed Model

## Mitigating Unfairness using GridSearch

#### Replace with Exponentiated Gradient
- Try the Exponentiated Gradient with different Lambdas

In [ ]:
gridsearch_est =

### Feature Importance of GridSearch Model

### Performance Plots of GridSearch Model (from EY case study)

### Discuss Performance and Trade-Offs

# Designing a Model Card (Stretch Goal)
- Capture reasoning, and link to Model Card resource if don't have time

In [7]:
import model_card_toolkit

In [12]:
model_card_path = Path(os.getcwd())
mct = model_card_toolkit.ModelCardToolkit(model_card_path)

In [13]:
model_card = mct.scaffold_assets()

In [ ]:
model_card.model_details.name = "Credit Loan Default Model"
model_card.model_details.overview = "This model predicts whether an applicant will default on a credit loan"
model_card.model_details.users = ["Financial Institutions", "Data Scientists"]
model_card.model_details.ethical_concerns = [
 {
     
 }   
]

## Discussion

### Fairness Under Unawareness

- Get something done by March 8th, don't let this be a big deal!
    - Lower priority

### Fairness is not the same as anti-discrimination